/* Styles specific to desktop devices */
.grid-container, .main-focus-img {
    display: block; /* Elements will be visible on desktop */
}
/* Add other desktop-specific styles here */

.full-story h2 {
    margin-top: 105vh;
    margin-left: 15vh;
    border: none;
    color: #86868B;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 7vh;
}

.full-story h3 {
    margin-top: 15vh;
    margin-left: 44vh;
    border: none;
    color: white;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 12vh;
}

.main-focus-img {
    margin-top: 7vh;
    width:155vh;
    height: 70vh;
    margin-left: 20vh;
    margin-right: 20vh;
    border: none;
    border-radius: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 70vh); /* Creates two columns of equal width */
    gap: 25vh; /* Adds a gap between grid items */
    margin-top: 2vh; /* Adds some space at the top of the container */
}

.grid-item {
    background-color: #1d1d1f; /* Light grey background */
    padding: 20px; /* Padding inside the grid items */
    text-align: center; /* Center-aligns text */
    border-radius: 1rem; /* Rounded corners for grid items */
}

.main-focus-img-2, .main-focus-img-3 {
    height: 40vh; /* Keeps the image aspect ratio */
    border-radius: 1rem; /* Rounded corners for images */
}

.main-focus-img-2 {
    width: 71vh; /* Makes the image take up the full width of the grid item */
    margin-left: 20vh;
    margin-right: 1vh;
}

.main-focus-img-3 {
    width: 71vh; /* Makes the image take up the full width of the grid item */
    margin-left: 4vh;
    margin-right: 20vh;
}

/* Adjustments for the text to ensure it aligns well with the images */
.main-focus-p1, .main-focus-p2 {
    color: white;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 2.8vh;
    font-weight: bold;
    margin-top: 2vh;
}

.main-focus-p1 {
    position: absolute;
    left: 23%;
}

.main-focus-p2 {
    position: absolute;
    right: 26%;
}

.explore-memory-button button {
    position: absolute;
    top: 410%;
    left: 45%;
    background-color: #2c2c2c;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: white;
    border: none;
    border-radius: 4rem;
    font-size: 2.8vh;
    padding-top: 1vh;
    padding-left: 1vh;
    padding-right: 8vh;
    padding-bottom: 1vh;
}
/*Creating the button apple style, very difficult*/
.plus {
    position: absolute;
    top: 10%;
    left: 73%;
    background-color: #0071e3;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: white;
    border: none;
    border-radius: 5rem;
    font-size: 2.4vh;
    padding-top: 0.8vh;
    padding-left: 1.5vh;
    padding-bottom: 0.8vh;
    padding-right: 1.5vh;
}

.story-2 {
    position: absolute;
    top: 425%;
    background-color: black;
    width: 100vw;
}

.story-2 h3 {
    margin-top: 15vh;
    margin-left: 44vh;
    margin-bottom: 10vh;
    border: none;
    color: white;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 12vh;
}

.story-2 img {
    margin-top: 7vh;
    width:100vw;
    height: 70vh;
    border: none;
}