.introduction {
    position: absolute;
    width: 100%;
    top: 7.5%;
    text-align: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.introduction h1 {
    font-size: 60px;
    color: #86868B;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

.introduction p {
    font-size: 16px;
    color: white;
    transition: transform 0.5s ease-in-out;
    transform: translateY(0);
}

#introduction h1 #introduction p::-webkit-scrollbar:hover {
    transform: translateY(-20px); /* Adjust the value as needed */
}

.content {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: black;
    top: 20%;
}

.ios-app-into {
    position: absolute;
    top: 101;
    right: 3%;
    width: 300px;
    height: 500px;
    overflow: hidden;
}

.get-button {
    position: absolute;
    text-align: center;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: white;
    border: none;
    border-radius: 30px;
    top: 80%;
    left: 47%;
    background-color: #0071e3;
    padding: 15px 20px;
}

.text-for-button {
    position: absolute;
    top: 90%;
    left: 41%;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    color: white;
    font-size: 20px;
}

.highlights h2{
    position: absolute;
    border: none;
    top: 125%;
    left: 7%;
    color: #86868B;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 52px;
}